.teat {
  height: 56px;
  width: 100%;
  background-color: #ececec;
  align-items: space;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 400;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  outline: none;
  border-right: none;
  border: 2px solid #a30000;
  border-radius: 10px;
  flex-direction: column;
  z-index: 1;
  text-decoration: underline;
  position: relative;
  border-left: 3px brown solid;
  padding-bottom: 15px;
  animation: ease-in forwards;
  visibility: hidden;
  display: block;
}